@import url('https://fonts.googleapis.com/css2?family=Kanchenjunga:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#home {
    width: 100vw;
    height: 100vh;
    background: #0095ff;
    background: linear-gradient(301deg, rgba(0, 149, 255, 1) 17%, rgba(87, 199, 133, 1) 85%, rgba(134, 237, 83, 1) 100%);
}

#home .main-title {
    font-size: 6vw;
    font-family: 'Kanchenjunga', Helvetica, Arial, sans-serif;
    color: #6f4fff;
    text-align: center;
    margin-top: 20%;
    outline: #0095ff solid 2px;
}

#home .slogan {
    font-size: 2vw;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    color: #6f4fff;
    text-align: center;
    margin-top: 5%;
    outline: #0095ff solid 2px;
}